src/main/resources/schemas/applications-snapshot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="applications">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="application" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resourceId" type="xs:string"/>
                            <xs:element name="localId" type="xs:long" minOccurs="0"/>
                            <xs:element name="externalId" type="xs:string" minOccurs="0"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="label" type="xs:string"/>
                            <xs:element name="status" type="xs:string"/>
                            <xs:element name="signOnMode" type="xs:string"/>
                            <xs:element name="createdAt" type="xs:string" minOccurs="0"/>
                            <xs:element name="updatedAt" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
