src/main/resources/schemas/application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="application">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" minOccurs="1"/>
                <xs:element name="label" type="xs:string" minOccurs="1"/>
                <xs:element name="status" type="xs:string" minOccurs="1"/>
                <xs:element name="signOnMode" type="xs:string" minOccurs="1"/>
                <xs:element name="externalId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>